p{
    color:chocolate;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
}
h1, span{
    color: red;
    background: #b3b3b3;
    font-size: 150%;
    font-family: arial;
    font-variant: small-caps;
    text-align: center;
    line-height: 200%;
}
nav{
    font-variant: small-caps;
    font-size: 150%;
    font-family: Arial, 'Times New Roman', serif;
}
details{
    font-style: italic;
}
summary{
    font-style: normal;
}